<h1 class="colums"> Heroes <small>Marvel y DC</small></h1>
<hr>



<div class="colums">
    <div class="card">
        <img src="assets/IronMan.jpg" class="card-img-top" alt="Imagen de Iron-Man">
        <div class="card-body">
            <h5 class="card-title">Iron-Man</h5>
            <p class="card-text">this card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="primary" class="btn btn-outline-primary btn-block">Ver mas...</button>
        </div>
    </div>


    <div class="card">
        <img src="assets/Steve.jpg" class="im" alt="Imagen del Capitan America">
        <div class="card-body">
            <h5 class="card-title">Capitán América</h5>
            <p class="card-text">this card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="primary" class="btn btn-outline-primary btn-block">Ver mas...</button>
        </div>
    </div>

    <div class="card">
        <img src="assets/Clint.jpg" class="card-img-top" alt="Imagen de Ojo de halcon">
        <div class="card-body">
            <h5 class="card-title">Hawkeye</h5>
            <p class="card-text">this card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="primary" class="btn btn-outline-primary btn-block">Ver mas...</button>
        </div>
    </div>


    <div class="card">
        <img src="assets/Spiderman.jpg" class="card-img-top" alt="Imagen de Spiderman">
        <div class="card-body">
            <h5 class="card-title">Spider-man</h5>
            <p class="card-text">this card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="primary" class="btn btn-outline-primary btn-block">Ver mas...</button>
        </div>
    </div>

    <div class="card">
        <img src="assets/Strange Supremo.jpg" class="card-img-top" alt="Imagen de Doctor Strange Supremo">
        <div class="card-body">
            <h5 class="card-title">Doctor Strange Supreme</h5>
            <p class="card-text">this card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="primary" class="btn btn-outline-primary btn-block">Ver mas...</button>
        </div>
    </div>
    <div class="card">
        <img src="assets/Strange.jpg" class="card-img-top" alt="Imagen de Doctor Strange">
        <div class="card-body">
            <h5 class="card-title">Doctor Strange</h5>
            <p class="card-text">this card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="primary" class="btn btn-outline-primary btn-block">Ver mas...</button>
        </div>
    </div>
    <div class="card">
        <img src="assets/Thor.jpg" class="im" alt="Imagen de Thor">
        <div class="card-body">
            <h5 class="card-title">Thor</h5>
            <p class="card-text">this card has supporting text below as a natural lead-in to additional content.
            </p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="primary" class="btn btn-outline-primary btn-block">Ver mas...</button>
       
        </div>
    </div>
    <div class="card">
        <img src="assets/Wanda.jpg" class="im" alt="Imagen de Wanda">
        <div class="card-body">
            <h5 class="card-title">Wanda</h5>
            <p class="card-text">this card has supporting text below as a natural lead-in to additional
                content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="primary" class="btn btn-outline-primary btn-block">Ver mas...</button>
        
        </div>
    </div>
</div>